.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 545px;

    width: 1920px;
    height: 149px;

    background-color: rgba(0, 0, 0, 0);

    padding-left: 213px;
    padding-right: 209px;

    position: fixed;
    z-index: 2;
}

.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 90px;

    width: 697px;
    height: 149px;

}

.link
{
    font-size: 25px;
    font-weight: 700;
    color: white;
}