.photoAndH {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;

    background-repeat: no-repeat;
    background-size: cover;

    width: 1580px;
    height: 1052px;
}

.title{
    display: inline-block;

    width: 684px;
    height: 75px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: white;
    
    color: black;

    font-weight: 700;
    font-size: 48px;
}